body {
	background-color: #ff0000;
}

h1 {
	font-family: arial;
	text-align: center;
	color: #008000;
	font-size: 50px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	 text-align: center;
}