body {
   
 margin: 0;
   
 padding: 0;

  background: #ff3c3c;
}

section
{
   
 height: 100vh;
  
  background: #ff8080;

}

table, th, td {
	
	text-align: center;
	
	table-layout : fixed;
    width : 300px;
    background : Silver;
    caption-side : bottom;
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}



h1{
   
 margin: 0;
   
 padding: 0;
  
 position: absolute;
 
 top: 50%;
  
 transform: translateY(-50%);
  
 text-shadow: 0 0 10px #000;
   
 width: 100%;
    
 text-align:right;
 
    
 color:#ddd;
  
 font-size: 2em;
  
 font-family: serif;
   
 letter-spacing: 0.2em;

}

h1 span{
   
 opacity: 0;
   
 display: inline-block;
   
 animation: animate 1s linear forwards;

}


@keyframes animate{
   
 0%{
   
     opacity: 0;
      
  transform: rotateY(90deg);
   
     filter: blur(10px);
   
 }
   
 100%{
      
  opacity: 1;
       
 transform: rotateY(0deg);
       
 filter: blur(0);
   
 }

}