<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Coders (green)</title>
<link rel="stylesheet" type="text/css" th:href="@{/green/css/styles.css}">
</head>
<body>
	<h1>Coders</h1>
	<p>
		This is just for debugging purpose: <span th:text="${data}">[]</span>
	</p>
	<hr />
	<p>The coders:</p>
	<table>
		<tr>
			<th>NAME</th>
			<th>ROLE</th>
		</tr>
			<tr th:each="cur: ${data}">
			<td th:text="${cur.name}">EU</td>
			<th:block th:each="roles : ${cur.roles}">
				<td th:text="${roles.name}">green</td>
			</th:block>
		</tr>
		
	</table>
	<hr />

</body>
</html>