<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roles (green)</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/green/css/styles.css}">
</head><center>
<font face="Verdana" size="6" color="green">
	<h2>Roles</h2>
	</font></center>
<body>
<center><font face="Verdana" size="3" color="white"><div th:if="${msg}"></font></center>
		<p>
			<center><i><font face="Verdana" size="2" color="white">Comando ricevuto:</font></i><font face="Verdana" size="2" color="white"><i><span th:text=${msg}>hello!</span></i></font></center>
		</p>
		<hr />
	</div>
	<!-- <p>
		This is just for debugging purpose: <span th:text="${data}">[]</span>
	</p>
	<hr />-->
	
	<!--<p>The roles:</p>  -->
	<center>
	<table  width=”500″ border=”8″ cellpadding=”10″>
		<tr>
	<th><font face="Verdana" size="6" color="green"><h3>NAME</h3></font></th>
			<!-- <th>NAME</th> -->

		</tr>
		<!--<tr th:each="cur: ${data}">  
			<td th:text="${cur.name}"></td>-->

		</tr>

		<tr th:each="cur: ${data}">
			<td th:text="${cur.name}">green</td>
		</tr>


	</table>
	</center>
	<br></br>
	<br></br>
	<hr />
<center>
	<form action="/green/roles/change_role">
		<label><font face="Verdana" size="5" color="#ccffcc">Cambia role: 
		<select name="id_role">
				<option th:each="cur: ${data}" th:value="${cur.id}"
					th:text="${cur.name}">green</option>
		</select>
		</font></label> 
		<label><input name="role_name" required="required">
		</label>
		<button>Enter</button>
	</form>
	<br></br>
	<hr />
	<form action="/green/roles/add_role">
		<label><font face="Verdana" size="5" color="#ccffcc">Aggiungi role: 
		<input name="role_name" required="required"></font>
		</label>
		<button>Enter</button>
	</form>
	<br></br>
	<hr />
	<form action="/green/roles/remove_role">
		<label><font face="Verdana" size="5" color="#ccffcc">Elimina role: 
		<select name="id_role">
				<option th:each="cur: ${data}" th:value="${cur.id}"
					th:text="${cur.name}">green</option>
		</select>
		</font></label> 
		<button>Enter</button>
	</form>
	<br></br>
	<hr />
		<p>
			<br></br> <br></br> <br></br> 
		<p>
			 <font face="Verdana" size="3" color="white">Torna alla</font> <a href="/green/index.html"><font face="Verdana" size="3" color="white">GreenTeam Homepage</font></a>
		</p>
	</center>
<br></br>
<br></br>
</body>

</html>