<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<center><title>TEAMS (green)</title>
<link rel="stylesheet" type="text/css" th:href="@{/green/css/styles.css}">
</head>
<font face="Verdana" size="6" color="green">
<h1>TEAMS</h1></font>
<body>
	

	
	<!--<p>
		This is just for debugging purpose: <span th:text="${data}">[]</span>
		<hr /> --> 
	<div th:if="${msg}">
		<p>Comando ricevuto: <span th:text=${msg}>hello!</span></p>
		<hr />	
	</div>
		
	</p> 
	
	<!-- <p>Teams:</p> -->
	<center>
	<table>
		<tr>
			<th>
			<font face="Verdana" size="6" color="green">
			
			<h3>NAME</h3>
			</font>
			</th>
		</tr>
	<tr th:each="cur: ${data}">
			<td th:text="${cur.name}">green</td>	
		</tr>
		
		
	</table>
	</center>
	
	<br>
	
	</br>
	
	<br>
	
	</br>
	
	<hr />
	
	<form method="get" action="/green/team/create">
	
		<label>
		<font face="Verdana" size="5" color="green">
		<center>Crea nuovo Team:
			<input name="name" required="required">
			</font>
		</label>
		<button>Go!</button>
		</center>
	</form>
	<hr />
	<form method="get" action ="/green/team/rename">
	
		<label>
		<font face="Verdana" size="5" color="green">
		<center>Rinomina team:
			<select name="id">
				<option th:each="cur: ${data}" th:value="${cur.id}" th:text="${cur.name}">
					green
				</option>
			</select>
			</font>
		</label>
		<label>con:
			<input name="name" required="required">
		</label>
		<button>Go!</button></center>
	</form>
	<hr />
	<form method="get" action="/green/team/delete">
		<label>
		<font face="Verdana" size="5" color="green">
		<center>Elimina team:
			<select name="id">
				<option th:each="cur: ${data}" th:value="${cur.id}" th:text="${cur.name}">
					green
				</option>
			</select>
			</font>
		</label>
		<button>Go!</button></center>
	</form>
	<hr />
	<p>
		Torna <a href="/green/index.html">homepage team green</a>
	</p>
</body></center>
</html>