<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>TEAMS (green)</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/green/css/styles.css}">
</head>
<font face="Verdana" size="6" color="#ccffcc">
	<h1>TEAMS</h1>
</font>
<body>




	<!-- <p>
		This is just for debugging purpose: <span th:text="${dataCoders}">[]</span>,<span th:text="${dataTeams}">[]</span>,<span th:text="${dataRoles}">[]</span>
	</p>
-->
	<div th:if="${msg}">
		<p>
			Comando ricevuto: <span th:text=${msg}>hello!</span>
		</p>
		<hr />
	</div>

	<center>
		<table>
			<tr>
				<th><font face="Verdana" size="6" color="green">

						<h3>NAME</h3>
				</font></th>
			</tr>
			<tr th:each="cur: ${data}">
				<td th:text="${cur.name}">green</td>
			</tr>

		</table>
	</center>

	<br></br>
	<br></br>
	<hr />
	<center>
		<form method="get" action="/green/teams/create">

			<label> <font face="Verdana" size="5" color="#ccffcc">

					Crea nuovo Team: <input name="name" required="required">
			</font>
			</label>
			<button>Go!</button>

		</form>
		<hr />

		<form method="get" action="/green/teams/rename">

			<label> <font face="Verdana" size="5" color="#ccffcc">

					Rinomina team: <select name="id_team">

						<option th:each="cur: ${data}" th:value="${cur.id}"
							th:text="${cur.name}">green</option>
				</select>
			</font>
			</label> <label> <input name="name" required="required">
			</label>
			<button>Go!</button>
		</form>
		<hr />
		<form method="get" action="/green/teams/delete">
			<label> <font face="Verdana" size="5" color="#ccffcc">

	<form method="get" action="/green/teams/delete">
		<label> <font face="Verdana" size="5" color="#ccffcc">
				<center>

					Elimina team: <select name="id">
						<option th:each="cur: ${data}" th:value="${cur.id}"
							th:text="${cur.name}">green</option>
				</select>
			</font>
			</label>
			<button>Go!</button>
		</form>
		<hr />
		<p>
			<br></br> <br></br> <br></br> <br></br> <br></br> <br></br>
		<p>
			Torna <a href="/green/index.html">homepage team green</a>
		</p>
</body>
</center>
</html>