<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Squadre</title>
	<link rel="stylesheet" type="text/css" th:href="@{/blue/css/art.css}">
</head>
<body>
	<h1>Creazione e Modifica squadre</h1>

	<hr />
	<div th:if="${msg}">
		<p>Un messaggio per te: <span th:text=${msg}>hello!</span></p>
		<hr />	
	</div>
	<p>I nostri team</p>
	
	<table class = uno align = center>
		<tr> 
		<th scope="col">ID</th>
			<th scope="col">Nome</th>
		</tr>
		<tr th:each="t : ${teams}">
			<td th:text="${t.id}">[]</td>		
			<td th:text="${t.name}">[]</td>
		</tr>
	</table>
	<hr/>
	
	<!-- 
		<table>
		<tr> 
		<th scope="col">ID</th>
			<th scope="col">Nome</th>
			<th scope="col">Cognome</th>
			<th scope="col">Team</th>
			<th scope="col">Ruolo</th>
		</tr>
		<tr th:each="cod : ${coders}">
			<td th:text="${cod.idCoder}">[]</td>		
			<td th:text="${cod.firstname}">[]</td>
			<td th:text="${cod.lastname}">[]</td>
			<td th:text="${cod.team.name}">[]</td>
			<th:block th:each="role : ${cod.role}">
				<td th:text="${role.nomeRole}">Model</td>
			</th:block>		
		</tr>
	</table>   
	<hr/>   -->
	
	
	<form action="/blue/settings/create">
		<label>Crea un nuovo team con il nome:
			<input name="name" required="required">
		</label>
		<button>OK</button>
	</form>
	<hr />
	
	<form action="/blue/settings/rename">
		<label>Rinomina un team:
			<select name="id">
				<option th:each="cur: ${teams}" 
				th:value="${cur.id}" th:text="${cur.name}">
					blue
				</option>
			</select>
		</label>
		<label>as:
			<input name="name" required="required">
		</label>
		<button>OK</button>
	</form>
	<hr />
	<form action="/blue/settings/delete">
		<label>Elimina un team:
			<select name="id">
				<option th:each="cur: ${teams}" th:value="${cur.id}" th:text="${cur.name}">
					blue
				</option>
			</select>
		</label>
		<button>OK</button>
	</form>
	<hr />
	
	<p>
		Back to <a href="/blue/homepage.html">Blue homepage</a>
	</p>
	<p>
		<a href="/blue/settings">Refresh</a>
	</p>
		
</body>
</html>