<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Squadre</title>
<link rel="stylesheet" type="text/css" th:href="@{/blue/css/art.css}">
<script src="@{scrpt/myscrpt.js}"></script>
</head>
<div class="menu">
	<button class="menubutton">
		<a href="/blue/homepage.html">Blue homepage</a>
	</button>
	&nbsp &nbsp &nbsp &nbsp
	<button class="menubutton">
		<a href="/blue/teams">Teams view</a>
	</button>
	&nbsp &nbsp &nbsp &nbsp
	<button class="menubutton">
		<a href="/blue/settings">Teams editing</a>
	</button>
	&nbsp &nbsp &nbsp &nbsp
	<button class="menubutton">
		<a href="/blue/coders">Coders editing</a>
	</button>
</div>
<body>
	<hr />
	<div class="contenitore">
		<h1>Squadre</h1>

		<hr />
		<div th:if="${msg}">
			<p class=me>
				<span th:text=${msg}>hello!</span>
			</p>
			<hr />
		</div>
		<div class="contenuto">

			<p class=you>Lista Team</p>

			<table class = uno align = center>
		<tr>
			<th:block th:each = "cur : ${teams}">
				<td th:text = "${cur.name}">[]</td>
			</th:block>
		</tr>
		<tr>
			<td th:each = "i: ${#numbers.sequence(0, sizez - 1)}">
				<th:block th:each = "sec : ${coders[i]}">
				<span th:text = "${'- ' + sec.firstname + ' ' + sec.lastname}">[]</span><br>
				</th:block>
			</td>
		</tr>
	</table>
			<hr />
		</div>
	</div>
</body>
</html>