<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Squadre</title>
	<link rel="stylesheet" type="text/css" th:href="@{/blue/css/art.css}">
</head>
<body>
	<h1>Squadre</h1>

	<hr />
	<div th:if="${msg}">
		<p>Un messaggio per te: <span th:text=${msg}>hello!</span></p>
		<hr />	
	</div>
	<p>I nostri team</p>
	
	<table class = uno align = center>
		<tr> 
		<th scope="col">ID</th>
			<th scope="col">Nome</th>
		</tr>
		<tr th:each="t : ${teams}">
			<td th:text="${t.id}">[]</td>		
			<td th:text="${t.name}">[]</td>
		</tr>
	</table>
	<hr/>
	<table class = due align = center>
		<tr> 
		<th scope="col">ID</th>
			<th scope="col">Nome</th>
			<th scope="col">Cognome</th>
			<th scope="col">Team</th>
			<th scope="col">Ruolo</th>
		</tr>
		<tr th:each="cod : ${coders}">
			<td th:text="${cod.idCoder}">[]</td>		
			<td th:text="${cod.firstname}">[]</td>
			<td th:text="${cod.lastname}">[]</td>
			<td th:text="${cod.team.name}">[]</td>
			<td><th:block th:each="role : ${cod.role}">
				<span th:text="${role.nomeRole}">[]</span><span>&nbsp-</span>
			</th:block></td>		
		</tr>
	</table>
	<hr/>

	<p>
		Back to <a href="/blue/homepage.html">Blue homepage</a>
	</p>
	<p>
		Go to <a href="/blue/settings">teams editing</a>
	</p>
	<p>
		<a href="/blue/teams">Refresh</a>
	</p>
		
</body>
</html>