<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Red Coders</title>
<link rel="stylesheet" type="text/css" th:href="@{/red/css/styler.css}">
</head>
<hr>

<body>
	<section>

		<h2>CODERS</h2>
		<p>

			<!--  This is just for debugging purpose: <span th:text="${team}">[]</span> -->
		</p>
		<div th:if="${msg}">
			<span th:text=${msg}>hello!</span>
		</div>
		<hr />
		<table align=center>
			<tr>
				<th>NOMI</th>
				<th>TEAM</th>
				<th>RUOLI</th>
			</tr>
			<tr>
			</tr>
			<tr th:each="cur: ${data}">
				<td th:text="${cur.name}"></td>
				<td th:text="${cur.team.name}"></td>
				<th:block th:each="roles : ${cur.roles}">
					<td th:text="${roles.name}">red</td>
				</th:block>
			</tr>
			<tr>
			</tr>
		</table>
		<form method="get" action="/red/coder/deleteCoder">
			<p>
				inserisci il nome della persona da eliminare : <select name="name">

					<option th:each="cur: ${data}" th:text="${cur.name}">
				</select>
				<button>conferma</button>
		</form>
		</p>
		<p>
		<form method="get" action="/red/coder/createCoder">
			<p>
				inserisci nome della nuova persona : <input type="text" name="name">


				inserisci il nome del team : <select name="id_t">

					<option th:each="cur: ${team}" th:text="${cur.name}"></option>
				</select>

				<button>conferma</button>
		</form>
		</p>
		<p>
		<form method="get" action="/red/coder/setTeam">

			Inserisci il nome della persona da modificare :<select name="name">
				<option th:each="cur: ${data}" th:text="${cur.name}">
			</select> inserisci il nome del team : <select name="test">
				<option th:each="cur: ${team}" th:text="${cur.name}"></option>
			</select>

			<!--  <p> Inserisci il nome del nuovo team : <input type="text" name="test"> </p> -->
			<button>conferma</button>
		</form>
		</p>
		<hr />
		<p>
		<form method="get" action="/red/coder/createRole">

			inserisci il nome della persona a cui aggiungere un ruolo : <select
				name="name">
				<option th:each="cur: ${data}" th:text="${cur.name}"></option>
			</select> inserisci il nome del nuovo ruolo : <select name="role">

				<option th:each="cur: ${role}" th:text="${cur.name}"></option>
			</select>

			<button>conferma</button>
		</form>
		</p>
		<p></p>
		<p>
		<form method="get" action="/red/coder/deleteRole">

			inserisci il nome della persona a cui togliere un ruolo : <select
				name="name">
				<option th:each="cur: ${data}" th:text="${cur.name}"></option>
			</select> inserisci il nome del ruolo da togliere : <select name="role">

				<option th:each="cur: ${role}" th:text="${cur.name}"></option>
			</select>

			<button>conferma</button>
			</p>
		</form>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<hr>
		<button>
			Back to <a href="/red/index.html">Red Homepage</a>
		</button>

		<div th:if="${msg}">
			<p>
				<span th:text=${msg}>hello!</span>
			</p>
			<hr />
	</section>
</body>
</html>