<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Red Coders</title>
<link rel="stylesheet" type="text/css" th:href="@{/red/css/styler.css}">
</head>
<hr>

<body>
	<section>

		<h2>CODERS</h2>
		<p>

			<!--  This is just for debugging purpose: <span th:text="${team}">[]</span> -->
		</p>
		<div th:if="${msg}">
			<span th:text=${msg}>hello!</span>
		</div>
		<hr />
		
		
		<form method="get" action="/red/coder/orderByName">
		
			<button>Ordina per nome</button>
			
		</form>
		
			<p style="line-height: 250px"></p>
				
		<form method="get" action="/red/coder/orderByTeam">
		
			<button>Ordina per team</button>
			
		</form>
		
			<p style="line-height: 250px"></p>
		
		<form method="get" action="/red/coder/orderByRole">
		
			<button>Ordina per team</button>
			
		</form>
		
			<p style="line-height: 250px"></p>
		
	<table style = "text-align:center">
			<tr>
				<th>NOMI</th>
				<th>TEAM</th>
				<th colspan = "6">RUOLI</th>
			</tr>
			<tr>
			</tr>
			<tr th:each="cur: ${data}">
				<td th:text="${cur.name}"></td>
				<td th:text="${cur.team.name}"></td>
				<th:block th:each="roles : ${cur.roles}">
					<td th:text="${roles.name}">red</td>
				</th:block>
			</tr>
			<tr>
			</tr>
		</table>

		<p style="line-height: 250px"></p>

		<p>
		<form method="get" action="/red/coder/deleteCoder">
			<fieldset>
				<legend>ELIMINA CODER</legend>
				<p>
					persona da eliminare : <select name="name">

						<option th:each="cur: ${data}" th:text="${cur.name}">
					</select>
					<button>conferma</button>
			</fieldset>
		</form>


		<form method="get" action="/red/coder/createCoder">
			<fieldset>
				<legend>INSERISCI CODER</legend>
				<p>
					nome della nuova persona : <input type="text" name="name">


					inserisci il coder in un team: <select name="id_t">

						<option th:each="cur: ${team}" th:text="${cur.name}"></option>
					</select>
				</p>
				<button>conferma</button>

			</fieldset>
		</form>

		<p>
		<form method="get" action="/red/coder/setTeam">
			<fieldset>
				<legend>MODIFICA CODER</legend>

				<p>
					Inserisci il nome della persona da modificare :<select name="name">
						<option th:each="cur: ${data}" th:text="${cur.name}">
					</select>
				</p>
				<p>
					inserisci il nome del team : <select name="test">
						<option th:each="cur: ${team}" th:text="${cur.name}"></option>
					</select>
				</p>
				<!--  <p> Inserisci il nome del nuovo team : <input type="text" name="test"> </p> -->
				<button>conferma</button>
			</fieldset>
		</form>

	<p style="line-height: 250px"></p>
		<hr />
		
		
		<form method="get" action="/red/coder/createRole">
		<fieldset>
		<legend>AGGIUNGI RUOLO A UN CODER</legend>

			<p>inserisci il nome della persona a cui aggiungere un ruolo : <select name="name">
				<option th:each="cur: ${data}" th:text="${cur.name}"></option>
			</select> </p>
			
			<p>inserisci il nome del nuovo ruolo : <select name="role">

				<option th:each="cur: ${role}" th:text="${cur.name}"></option>
			</select></p>

			<button>conferma</button>
			</fieldset>
		</form>
		
		
		<p style="line-height: 250px"></p>
		
		<p>
		<form method="get" action="/red/coder/deleteRole">
		<fieldset>
		<legend>TOGLIERE RUOLO A UN CODER</legend>

			<p>inserisci il nome della persona a cui togliere un ruolo : <select
				name="name">
				<option th:each="cur: ${data}" th:text="${cur.name}"></option>
			</select></p>
			
			<p> inserisci il nome del ruolo da togliere : <select name="role">

				<option th:each="cur: ${role}" th:text="${cur.name}"></option>
			</select></p>

			<button>conferma</button>
			</fieldset>
			
		</form>
		
		<p style="line-height: 250px"></p>
		
		<hr>
		<button>
			Back to <a href="/red/index.html">Red Homepage</a>
		</button>

		<div th:if="${msg}">
			<p>
				<span th:text=${msg}>hello!</span>
			</p>
			<hr />
	</section>
</body>
</html>