<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roles (red)</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/red/css/styler.css}">
</head>
<body>
<section>
<center>
	<h1> <span>R</span> <span>O</span> <span>L</span> <span>E</span> <span>S</span> </h1>
	<p>
		<!--  This is just for debugging purpose: <span th:text="${data}">[]</span> -->
	</p>
	<hr />
	
	<table>
	<tr><th>ROLES</th></tr>
		<tr>
		
			<td>NAME</td>
			<td>id</td>
		</tr>
		<tr th:each="cur: ${data}">
		<td th:text="${cur.name}">Bjarne</td>
		
		
			
		</tr>
	</table>
	<hr />
</center>
</section>
</body>
</html>