<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roles (red)</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/red/css/styler.css}">
</head>
<body>
	<h1>Roles</h1>
	<p>
		<!--  This is just for debugging purpose: <span th:text="${data}">[]</span> -->
	</p>
	<hr />
	<p>The roles:</p>
	<table>
	<tr><th>ROLES</th></tr>
		<tr>
		
			<td>NAME</td>
			<td>id</td>
		</tr>
		<tr th:each="cur: ${data}">
		<td th:text="${cur.name}">Bjarne</td>
		
		
			<td th:text="${cur.id}">Controller</td>
			
		</tr>
	</table>
	<hr />

</body>
</html>