<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roles (red)</title>
<link rel="stylesheet" type="text/css" th:href="@{/red/css/styler.css}">
</head>
<body>
	<section>

		<h2>ROLES</h2>
		<p>
			<!--  This is just for debugging purpose: <span th:text="${data}">[]</span> -->
		</p>
		<div th:if="${msg}">
			<span th:text=${msg}>hello!</span>
		</div>
		<hr />

		<table align=center>

			<tr>
				<th>RUOLI</th>
			</tr>
			<tr>



			</tr>
			<tr th:each="cur: ${role}">
				<td th:text="${cur.name}"></td>

			</tr>
			<tr>





			</tr>

		</table>
		<hr />

		<form method="get" action="/red/role/createRole">


			<p>
				Inserisci ruolo da aggiungere : <input type="text" name="nameRole">


			</p>


			<button>conferma</button>
		</form>

		<p></p>

		<form method="get" action="/red/role/deleteRole">


			<p>
				Inserisci il ruolo da eliminare : <select name="nameRole">

					<option th:each="cur: ${role}" th:text="${cur.name}"></option>
				</select>



			</p>


			<button>conferma</button>
		</form>

		<p></p>

		<!--  <form  method="get" action="/red/role/setRole">
   
   
   <p> inserisci il nome della persona a cui modificare un ruolo :
   <select name="name">

					<option th:each="cur: ${coder}" th:text="${cur.name}"  >
					</option>
				</select> 
				<p> inserisci il nome del ruolo da modificare :
   <select name="role">

					<option th:each="cur: ${role}" th:text="${cur.name}"  >
					</option>
				</select> 
				<select name="roleNew">

					<option th:each="cur: ${role}" th:text="${cur.name}"  >
					</option>
				</select> 
				
				

 </p> 
   
   
   <button >conferma</button></form>
	-->

		<p></p>
		<p></p>
		<p></p>


		<button>
			Back to <a href="/red/index.html">Red Homepage</a>
		</button>


	</section>
</body>
</html>