<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teams (red)</title>
<link rel="stylesheet" type="text/css" th:href="@{/red/css/styler.css}">
</head>

<body>

	<h2>TEAMS</h2>
	<div th:if="${msg}">
		<span th:text=${msg}>hello!</span>
	</div>




	<p>The teams:</p>

	<table align=center>
		<tr>

			<th>TEAM</th>

		</tr>
		<tr th:each="cur: ${data}">
			<td th:text="${cur.name}">Bjarne</td>


		</tr>

	</table>



	<form method="get" action="/red/team/delete">
<fieldset>
<legend>ELIMINA TEAM</legend>
		<p>
			inserisci team da eliminare : <select name="id">

				<option th:each="cur: ${data}" th:text="${cur.name}">
			</select>
			<button>conferma</button>
			</fieldset>
	</form>
	<p></p>
	<p></p>
	<p></p>
	<p></p>

	<form method="get" action="/red/team/create">
	<fieldset>
	<legend>CREA TEAM</legend>
		<p>
			inserisci nome del team da creare : <input type="text" name="name">
			<button>conferma</button>
			</fieldset>
	</form>


	<form method="get" action="/red/team/rename">
		<fieldset>
			<legend>MODIFICA TEAM</legend>
			<p>
				inserisci team da modificare : <select name="id">

					<option th:each="cur: ${data}" th:text="${cur.name}">
				</select>
			</p>
		
		
		
			<p>
				inserisci il nome nuovo : <input type="text" name="name">
			</p>
			<button>conferma</button>
		</fieldset>
	</form>

	<p></p>
	<p></p>
	<p></p>
	<hr>


	<button>
		Back to <a href="/red/index.html">Red Homepage</a>
	</button>


</body>
</html>