<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teams (red)</title>
<link rel="stylesheet" type="text/css" th:href="@{/red/css/style.css}">
</head>
<body>
	<h1>teams</h1>
	<hr>
	<div th:text="${data}">[]</div>
	<p>The coders:</p>
	<table>
		<tr>
			
			<td>TEAM</td>
			
		</tr>
		<tr th:each="cur: ${data}">
			<td th:text="${cur.name}">Bjarne</td>
			
			
		</tr>
	</table>
	<hr>
	
	<form  method="get" action="/red/team/delete">
   <p> inserisci team da eliminare : <input type="text" name="id"> </p>
   <button >conferma</button>
   </form>

	<form  method="get" action="/red/team/create">
   <p> inserisci nome del team da creare : <input type="text" name="name"> </p>
   <button >conferma</button></form>
   
   <form  method="get" action="/red/team/rename">
    <p> inserisci team da modificare : <input type="text" name="id"> </p>
   <p> inserisci il nome nuovo : <input type="text" name="name"> </p>
   <button >conferma</button></form>
   
 

	<p>Back to <a href="/red/index.html">red homepage</a></p>
</body>
</html>