@charset "ISO-8859-1";

body {
	background-color: #8dccf1;
}

h1 {
	font-family: fantasy;
	text-align: center;
	color: #3831ce;
}

div.bordo h3 {
	font-family: cursive;
	text-align: center;
	color: #ffff80;
	font-size: 25px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.messaggio {

	position:middle;
	background-color:#ffff80;
	border: #ff0000 solid 3px;
}

p.me {
	color: #ff0000;
	font-size: 15px;
	font-weight:bold;
  	text-align:center;
  	vertical-align:middle;
}


div.menu 
{
	position: relative;
	width: 100%; 
	height: 36px;
	background-color: #3831ce;
	text-align: center;
	font-color: white;
	vertical-align: middle;	
}
button.menubutton
{
	width: 130px;
	height: 36px;
	background-color: #3831ce;
	border: none;
	text-align: center;
	vertical-align: middle;
}

div.contenitore
{
	width: 100%;
	margin: 0; /* per azzerare */
	padding: 0; /* per azzerare */
}


p {
	text-align: center;
	font-size: large;
}

p.you {
	color: #3831ce;
	font-size: x-large;
}


a {
	color: white;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

form {
	text-align: center;
	align-self: center;
	
}

table.due {
  border: 0px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 60%;
  text-align: center;
  border-collapse: collapse;
}
table.due td, table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.due th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  font-color:#3831ce; 
}

table.due tbody td {
  font-size: 13px;
}

table.due tr:nth-child(even) {
  background: #D0E4F5;
}
table.due thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.due thead th {
  font-size: 15px;
  font-weight: bold;
  color: #3831ce;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.due thead th:first-child {
  border-left: none;
}

table.due tfoot td {
  font-size: 14px;
}
table.due tfoot .links {
  text-align: right;
}
table.due tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

table.uno {
  border: 4px solid #555555;
  background-color: #d88967;
  width: auto;
  text-align: center;
  border-collapse: collapse;
}
table.uno td, table.uno th {
  width:auto;
  border: 1px solid #555555;
  padding: 5px 10px;
  color : #ffffff;
}
table.uno tbody td {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.uno td:nth-child(even) {
  background: #398AA4;
}
table.uno thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}
table.uno thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}
table.uno thead th:first-child {
  border-left: none;
}

table.uno tfoot td {
  font-size: 16px;
}
table.uno tfoot .links {
  text-align: right;
}
table.uno tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}

