body {
	background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); 
}

h1 {
	font-family: verdana;
	text-align: center;
	color: green;
	font-size: 70px;
}

table, th, td {
	
	text-align: center;
	border: 2px dotted white;
	border-collapse: separate;
	font-size: 30px;
	width: 100px;
}

img { border: 7px solid #009700; 
