body {
background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

h1 {
	font-family: verdana;
	text-align: center;
	color: green;
	font-size: 70px;
}

table, th, td {
	
	text-align: center;
	border: 2px dotted white;
	border-collapse: separate;
	font-size: 30px;
	width: 100px;
}

img { border: 7px solid #009700; }